
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
.env
.idea
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/_pr/
/vendor/
/node_modules/
###< symfony/framework-bundle ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
